/* pages/home/home.wxss */
.goods-window {
  padding-bottom: 50rpx;
}

.goods-window-image {
  text-align: center;
  padding: 0 0;
}

.goods-window-text-title {
  font-size: 38rpx;
  font-weight: 520;
}

.goods-window-text-price {
  color: red;
  font-weight: 800;
}